@charset "utf-8";
#menu1 ul {
width:300px;
	padding:40px;
	margin:20px;
	background-color:#33CCCC;
	list-style:none;
}
#menu1 ul li { display:block; }

#menu1 ul li a {
	padding: 2px 10px;
	display: inline-block;
 
	/* visual do link */
	background-color:#098eff;
	color: #FFF;
	text-decoration: none;
	border-bottom:3px solid #098eff;
}

#menu1 ul li a:hover {
	background-color:#098eff;
	color: #000;
	border-bottom:3px solid #00FFFF;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../imagem/pat_04.png);}
-->

