@charset "utf-8";

.td{
padding:5px;
color:#FFFFFF;
font-family: verdana;
font-size: 11px;
text-transform: uppercase;
}

.td2{
padding:5px;
color:#999999
font-family: verdana;
font-size: 11px;
text-transform: uppercase;
}


