/* Menu Vertical Sanfona
----------------------------------------------- */
.verticalsanfona ul {
margin: 0;
padding: 0;
list-style:none;
width: auto;
    font-family: verdana, "arial black";
	font-size: 11px;
	color: #504c50;
	text-transform: uppercase;
}
.verticalsanfona ul li {
display:block;
overflow: hidden;
margin: 0;
padding: 0;
list-style:none;
height:40px;
width: auto;
background-color:#f0f0f0;
transition: height 0.3s ease-in-out;
-moz-transition: height 0.3s ease-in-out;
-webkit-transition: height 0.3s ease-in-out;
-o-transition: height 0.3s ease-in-out;
}

.verticalsanfona ul li h3 {
display:block;
margin: 0;
padding:10px;
padding-left:20px;
height:19px;
border-top:#f0f0f0 1px solid;
font-family: Arial, Helvetica, sans-serif;
text-decoration:none;
text-transform:capitalize;
color: #fff;
background:#3b5998;
text-align: left;
font-size:12px;


	text-transform: uppercase;
}
.verticalsanfona ul li h3 a{
color: #000;

}

.verticalsanfona ul li h3 a:hover{
color: #fff;
}

.verticalsanfona ul li div {
margin:0;
overflow: auto;
padding:10px;
padding-left:20px;
height:220px;

}

.verticalsanfona ul li:hover {
height: 280px;

}

.verticalsanfona:hover ul li:hover h3 {
color:#fff;
background:#098eff;
 font-family: verdana, "arial black";
	font-size: 12px;
	text-transform: uppercase;
}

.verticalsanfona ul li h3:hover {
cursor:pointer;
}


#menu ul {
            font-family: verdana, "arial black";
	        font-size: 11px;
 	        text-transform: uppercase;
			padding:0px;
			margin:0px;
			background-color:#098eff;
			list-style:none;
			}
			#menu ul li { display: inline; }
			
			#menu ul li a {
			padding: 2px 10px;
			display: inline-block;
			
			/* visual do link */
			background-color:#098eff;
			color: #FFF;
			text-decoration: none;
			border-bottom:3px solid #098eff;
			}
			
			#menu ul li a:hover {
			background-color:#098eff;
			color: #000;
			border-bottom:3px solid #00FFFF;
			}
			
			
			
.link2{
text-decoration:none;
color: #666666;
}

.link2:hover{
text-decoration:none;
color:#0000CC;
font-weight:bold;
}