.pag{
border:1px solid #CCCCCC;
padding:5px;
background:#666;
color:#FFFFFF;
margin:5px;
text-decoration:none
}

.pag:hover{
border:1px solid #CCCCCC;
padding:5px;
background:#333;
color:#FFFFFF;
margin:5px;
text-decoration:none

}

.pag2{
background:#333;
border:1px solid #CCCCCC;
padding:5px;
text-decoration:none;
color:#fff;
margin:auto;
cursor:pointer;
text-align:center;
}

.pag2:hover{
background:#666;
border:1px solid #CCCCCC;
padding:5px;
text-decoration:none;
margin:auto;
text-align:center;
}

.input{
border:none;
padding:8px;
width:200px;
background:#FFFFFF;
margin:0px 0px 10px 0px;
outline:none;
border:1px solid #666;
transition:all 0.5s linear;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
text-transform:uppercase;

}

.input:hover{
border:1px solid #666;
border:none;
padding:8px;
width:200px;
background:#F8F8F8;
margin:0px 0px 10px 0px;
outline:none;
border:1px solid #EC1C40;
color:#FF0033;
}

.bt{
border:1px solid #CCCCCC;
padding:5px;
background:#666;
color:#FFFFFF;
margin:5px;
cursor:pointer;
outline:none;
}
.bt:hover{
border:1px solid #CCCCCC;
padding:5px;
background:#333;
color:#FFFFFF;
margin:5px;
cursor:pointer;
outline:none;
}

.bt2{
border:none;
padding:9px;
background:#333;
color:#FFFFFF;
cursor:pointer;
outline:none;
margin:0px 0px 0px -6px;
}


.bt2:hover{
border:none;
padding:9px;
background:#666;
color:#FFFFFF;
cursor:pointer;
outline:none;
margin:0px 0px 0px -6px;
}


.bt4{
border:none;
padding:9px;
background:#333;
color:#FFFFFF;
cursor:pointer;
outline:none;
margin:0px 0px 0px 0px;
}


.bt4:hover{
border:none;
padding:9px;
background:#666;
color:#FFFFFF;
cursor:pointer;
outline:none;
margin:0px 0px 0px 0px;
}